*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #2b2b2b;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

